<div class="top-wrapper">
  <div class="container">
      <div class="mssg-wrapper">
        <h1>ポジティブな育児のためのWebサービス</h1>
        <h1>「ポジ育」</h1>
      </div>
      <div class="exp-wrapper">
        <p>かわいい我が子でも</p>
        <p>いつしか些細なことでも叱ってしまうように</p>
        <p>そんな悩めるママパパのポジティブな育児をサポートします</p>
      </div>
      <div class="btn-wrapper">
        <a href="/users/new" class="btn signup">新規登録はこちら</a>
        <p>または</p>
        <a href="#" class="btn twitter">
          <span class="fa fa-twitter"></span>
          Twitterで登録
        </a>
      </div>
    </div>
</div>

<div class="pojimemo-about-wrapper">
  <div class="container">
    <div class="pojimemo-head-wrapper">
      <h1>ポジティブな言葉をメモ</h1>
    </div>
    <div class="pojimemo-detail-wrapper">
      <p>「子供に会ったらこういう声をかけよう」</p>
      <p>と、ふと思いついた言葉をメモするサービス</p>
    </div>
  </div>
</div>

<div class="memory-about-wrapper">
  <div class="container">
    <div class="memory-head-wrapper">
      <h1>成長を実感する</h1>
    </div>
    <div class="memory-detail-wrapper">
      <p>「ああ、こんな風に成長してきたんだな」</p>
      <p>子供の成長を振り返るサービス</p>
    </div>
  </div>
</div>
